html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* .box .row {
  border: 1px dotted grey;
} */

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}

body {
  background: #465ec9;
  background: linear-gradient(#465ec9 15%, #c651c4 85%);
  font-family: 'Raleway', 'Raleway light', Sans-Serif;
}